
.top{
  background-color: rgb(12, 97, 254);
  padding: 50px;
}
.top-text{
  padding-left: 20%;
}
small{
  padding-left: 20%;
  padding-bottom: 20px;
}

.middle{
  background:rgba(1,1,1,0.5);
  height: 400px;
  border-radius: 20px;
}
.weather{
height: 200px;
}
.serach{

color: black;

margin-left: 20%;
margin-top: 5%;
width: 60%;

}

.info{
border: 1px solid white;

border-radius: 20px;
padding: 30px;
width: 10em !important;


}
.info-text{
  opacity: 1;
}

.temp{
 font-size: 70px;
}
.icon{
  height: 20px;
}
.therm{
  height: 100px;
}
.h1{
  padding-top: 0.5em;
}
